body {
	font-family: Verdana,sans-serif;
	font-size: 1rem;
	background: #060709;
	color: #cccfd3;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	column-gap: 1.5em;
}
.result_section {
	display: grid;
	grid-template-columns: 0.5fr;
}
.result_section div {
	grid-row-start: 1;
	grid-column-start: 1;
}
.item_screenshot {
	grid-row-start: 1;
	grid-column-start: 1;
	width: 200%;
	filter: brightness(65%);
}
.perk_list {
	grid-row-start: 1;
	grid-column-start: 1;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(4, minmax(1em, 48px));
	grid-template-rows: repeat(12, minmax(1em, 48px));
}
p {
	margin: 0;
}
ul {
    padding: 1em;
	margin: 0;
}
#watch_list_title {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
}
.control_panel {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	row-gap: 1em;
}
.perk_icon {
	display: inline-block;
	-webkit-transform: scale(0.5, 0.5) translate(-50%, -50%);
	transform: scale(0.5, 0.5) translate(-50%, -50%);
}

@media only screen and (max-width: 1450px) {
	body {
		flex-flow: row-reverse wrap;
		align-items: center;
		justify-content: space-between;
	}
	.item_screenshot {
		max-width: 100%;
	}
	.result_section {
		grid-template-columns: 1fr;
	}
}